body {
  background-color: black;
}

@font-face {
  font-family: 'pacfontregular';
  src: url('fonts/pac-font-webfont.woff2') format('woff2'),
       url('fonts/pac-font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#title {
  font-family: 'pacfontregular';
  font-size: 50px;
  color:yellow;
  text-align: center;
}

#game {
  border: 2px solid blue;
  overflow: hidden;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: center;
}

.cell {
  width: 38px;
  height: 38px;
  background-color: black;
  margin: 0px;
  padding: 0px;
  border: 2px solid black;
}

.cell_block {
  border: 2px solid blue !important; 
}

.point {
  width: 6px;
  height: 6px;
  margin: 16px;
  border-radius: 50%;
  background-color: white;
}

.power {
  width: 10px;
  height: 10px;
  margin: 14px;
  border-radius: 50%;
  background-color: white;
}

.row {
  margin: 0;
}

#scoreboard {
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid green;
  /* overflow: auto; */
  /* align-items: center; */
  display: flex;
  /* justify-content: center; */
}

canvas {
  background-color: transparent;
  border: 5px solid grey;
  position: absolute;
}

/*Preloading page CSS properties*/

.pre-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out;
}

#title-preload {
  position: absolute;
  font-family: 'pacfontregular';
  font-size: 20px;
  color:yellow;
  top: 15%;
  transform: translateY(-15%);
  text-align: center;
  animation: textzoom 5s infinite alternate;
  animation-timing-function: linear;
}

.pacman {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 60%;
  left: 0%;
  transform: translate(0%, -60%);
  animation: pacman-run 5s infinite alternate;
  animation-timing-function: linear;
}

.ball {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 60%;
  left: 4%;
  transform: translate(4%, -60%);
  animation: ball-run 5s infinite alternate;
  animation-timing-function: linear;
}

.finish-load {
  opacity: 0;
  pointer-events: none;
}

@keyframes textzoom {
  0%{
    font-size: 90px;
  }
  100%{
    font-size: 125px;
  }
}

@keyframes pacman-run {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes ball-run {
  from {
    left: 6%;
  }
  to {
    left: 106%;
  }
}